services:
  rust:
    image: rust:latest
    container_name: lego-rust
    user: "1000:1000"
    volumes:
      - ./:/app
    working_dir: /app
    command: bash -c "
              tail -f /dev/null
              "
    tty: true
